
html, body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #3c3c3c, #000000) ; /* #9fc5e8 */
    height: 100%;
    margin: 0;
    padding: 0;
}

.kiosk-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
}
* {
    box-sizing: border-box;
}

/* --- Horizontal Alerts Bar --- */ 

.alerts-bar {
    background-color: #F0BCD4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 100;
    border-top: 3px groove #960905;
    border-bottom: 3px groove #960905;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }
  .bar-alert {
    background-color: #eee;
    border-radius: 0px;
    height: 100%;
    padding: 2%;
    margin: 0 10px;
    white-space: nowrap;
  }
  
  .alerts-container {
    display: flex;
    animation: scroll 55s linear infinite;
  }
  .alerts-container .alert,
  .alerts-container .notification {
    height: 50%;    
    display: flex;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: 15px;
    align-items: center;
    padding: 0 4rem;
  }
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

/* --- Kiosk Menu --- */ 
.vertical-menu-left {
    display: flex;
    flex-direction: column;
    background-color: #D3AF37; /*#6d9eeb */
    padding: 20px;
    justify-content: space-between; /* Space the buttons evenly --> space-between*/ 
    height: 100%;
    padding-top: 100px;
    width: 15%;
    align-items: center;
}
.vertical-menu-right {
    display: flex;
    flex-direction: column;
    background-color: #D3AF37; /*#6d9eeb */
    padding: 20px;
    justify-content: space-between; /* Space the buttons evenly --> space-between*/ 
    height: 100%;
    padding-top: 100px;
    right: 0;
    width: 15%;
    align-items: center;
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

/* Logo & Testudo */
.testudo {
    position: relative;
    display: block;
    margin-top: auto;
    left: 25%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 150px; 
    height: auto; /* Maintain aspect ratio */
    z-index: 50; 
}
.logo {
    position: relative;
    display: block;
    left: 25%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 150px; 
    height: auto; /* Maintain aspect ratio */
    z-index: 50; 
}


/* --- Tab Buttons --- */ 

.tab-button {
    background-color: #FB3640; /* cccccc */
    border-radius: 6px;
    border: ridge;
    border-color: black;
    color: #fffcfc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px; /* 10px */
    width: 100%;
    height: 30%; /* 16.67% */
    cursor: pointer;
}


.tab-button:hover {
    background-color: #c75d5d;
}

.tab-button.active {
    background-color: #aa0a0a;
}

/* --- Tabs --- */ 

.tab-content {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    position: relative;
    overflow: hidden;
    color: #eee;
    overflow-y: auto;

}

.tab {
    display: none;
    position: absolute; 
    top: 0;
    left: 5;
    width: 100%;
    height: 100%;
}

.tab.active {
    display: block;
}

/* --- Notification/Alert Tab --- */ 
.notification {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.notification i {
    font-size: 24px;
    margin-right: 10px;
    color: #000000;
}

.notification span {
    font-size: 20px;
    color: #000000;
}
.alert {
    display: flex;
    align-items: center;
    color: #ff0000;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.alert i {
    font-size: 24px;
    margin-right: 10px;
}

.alert span {
    font-size: 20px;
}



/* --- Campus Map --- */
#campus-map {
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
#campusmap {
    position: relative;
    border: 1px solid black;
    width: 90%;
    height: 90%;
    padding: 25px;

}

/* --- Information About Campus --- */

#campusInformation p {
    width: 950px;
}

#campusInformation a {
    color: white;
}

/* --- Event Calendar --- */
#calendar {
    background-color: #D3AF37;
    border: 1px solid black; 
    width: 95%;
    margin-top: 10px;
    position:relative;
    text-overflow: ellipsis;
    
}
#upcoming-events {
    margin-top: 10px;
}
.fc-today {
    background-color: #ba951e !important;
  }
.event-bubble {
    position: absolute;
    background-color: white;
    border: 1px solid #2D3142;
    border-radius: 4px;
    padding: 10px;
    min-width: 200px;
    max-width: 400px;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event-bubble-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .event-bubble-close {
    background: cyan;
    border: 1px solid black;
    font-size: 22px;
    cursor: pointer;
  }
  
